html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10 px*/
}
body{
  font-family: 'Roboto', 'Montserrat';
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/*Globales */
h3 {
  font-family: 'Montserrat';
  margin: 0 0 5rem 0;
  font-size: 4rem;
  margin: auto;
  padding-bottom: 1rem;
}
.p-text{
  
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
/*Utilities */
.text-center{
  text-align: center;
}

/*dark and light mode */
.for_light_theme{
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
.for_dark_theme{
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
/*user-input */
.user-input-img{
  background-image: url(./assets/imgs/input.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.user-input{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-user{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 2rem;
    /*text-shadow: 2px 2px 2px #d3d3d3;*/
}
.beginning {
  width: 80%;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: gray;
  box-shadow: -10px -10px 15px #3a3a3a17,
  10px 10px 15px #42424259;
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 50px;
}
.beginning-button{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: rgb(64, 255, 47);
  color: white;
}

.button {
  margin-top: 1rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #f7d20298;
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #03a73198;
}
                /* CHARGING*/
.center-charging{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charging {
  position: relative;
width: 164px;
height: 164px;
border-radius: 50%;
animation: rotate 0.75s linear infinite;
}
.charging::before {
content: '';
position: absolute;
width: 20px;
height: 40px;
border: 1px solid #FF3D00;
border-width: 12px 2px 7px;
border-radius: 2px 2px 1px 1px;
box-sizing: border-box;
transform: rotate(45deg) translate(24px, -10px);
background-image: linear-gradient(#FF3D00 20px, transparent 0),
linear-gradient(#FF3D00 30px, transparent 0),
linear-gradient(#FF3D00 30px, transparent 0);
background-size: 10px 12px , 1px 30px, 1px 30px;
background-repeat: no-repeat;
background-position: center , 12px 0px , 3px 0px;
}
.charging::after {
content: '';
position: absolute;
height: 4px;
width: 4px;
left: 20px;
top: 47px;
border-radius: 50%;
color: #Fff;
box-shadow: -4px 7px 2px, -7px 16px 3px 1px,
-11px 24px 4px 1px, -6px 24px 4px 1px,
-14px 35px 6px 2px, -5px 36px 8px 2px,
-5px 45px 8px 2px, -14px 49px 8px 2px,
6px 60px 11px 1px, -11px 66px 11px 1px,
11px 75px 13px, -1px 82px 15px;
}

@keyframes rotate {
to{transform:rotate(360deg)   }
}
                /*  POKEDEX   */

.toggle{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  
}                
label{
  
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background: #c0c0c0;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg,#ffcc89, #d8860b);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}
/* input invisible */
.ocultar{
  width: 0;
  height: 0;
  visibility: hidden;
}
/* si input checked = dark*/
input:checked + label{
  background: #242424;
}
input:checked + label:after{
  left: 58px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label:active:after{
  width:40px;
}
.light{
  align-content: center; 
  padding-block: 15px;   
  transition: 0.5s;

}
.darkk{
  align-content: center; 
  padding-block: 15px;   
  background-color: #1a1a1a;
  color: #fff;
  transition: 0.5s;
}
.form-search{
  display: flex;
  justify-content: center;
  align-items: center;

}
.search{
  position: relative;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 6rem;
  transition: 0.5s;
  overflow: hidden;           /* -------------------------------*/
  padding-left: 2rem;
  box-shadow: -10px -10px 15px #3a3a3a17,
  10px 10px 15px #42424259;

}
.search.active{
  width: 40rem;
  height: 6rem;
  border-radius: 6rem;
}
.search .icon{
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.search .icon::before{
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}
.search .icon::after{
  content: '';
  position: absolute;
  width: .3rem;
  height: 1.2rem;
  background:  #287dfc;
  transform: translate(6px,6px) rotate(315deg);
}
.search .input{
  position:relative;
  width: 30rem;
  height: 6rem;
  left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .input input{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 1rem 0;
}
.clear{
  position: absolute;
  top: 40%;
  transform: translate(-50%);
  width: 1.5rem;
  height: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear::before{
  position: absolute;
  content: '';
  width: .1rem;
  height: 1.5rem;
  background: #999;
  transform: rotate(45deg);
}
.clear::after{
  position: absolute;
  content: '';
  width: .1rem;
  height: 1.5rem;
  background: #999;
  transform: rotate(315deg);
}
select{
  width: 100%;
  max-width: 400px;
  height: 60px;
  border-radius: 30px;
  border: 0;
  outline: none;
  font-size: 19px;
  padding-left: 20px;
  color: gray;
  box-shadow: -10px -10px 15px #3a3a3a17,
  10px 10px 15px #42424259;
  transition: .5s;
  margin: 30px 0;
}
datalist{
  width: 100%;
  max-width: 400px;
  height: 60px;
  border-radius: 30px;
  border: 0;
  outline: none;
  font-size: 19px;
  padding-left: 20px;
  color: gray;
  box-shadow: -10px -10px 15px #3a3a3a17,
  10px 10px 15px #42424259;
  transition: .5s;
  margin: 30px 0;
}
.ul-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}
.card{
  background-color: white;
  border: 2px solid black;
  width: 20%;  
  height: 27rem;
  margin: 1.5rem;
  border-radius: .8rem;
  border: 0;
  box-shadow: 0 0 1.5rem .1rem rgba(2, 2, 2, 0.281);
}
.card-pokemon{
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: .8rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.name{
  font-family:  'Montserrat';
  font-size: 25px;
  position: absolute;
  letter-spacing: 1px;
  margin-top: 200px;
  visibility: hidden;
}
.name:first-letter {

  text-transform: uppercase;

}
.prof{
  font-size: 25px;
  position: absolute;
  margin-top: 120px;
  visibility: hidden;
}
.divider{
  background-color: #949594;
  height: 1.5px;
  width: 50px;
  position:absolute;
  margin-top: 250px;
  visibility: hidden;
}
.bio{
  margin-top: 180px;
  position: absolute;
  text-align: center;
  font-size: 15px;
  visibility: hidden;
}
.photo{
  height: 100%;
  width: 100%;
  
}
.card:hover .saludo{
  /*display: block;*/
}


.grass{
  background: radial-gradient(circle, rgba(222,253,224,1) 0%, rgba(90,181,96,1) 100%);
}
.fire{
  background: radial-gradient(circle, rgba(253,223,223,1) 0%, rgb(231, 93, 51) 100%);
}
.water{
  background: radial-gradient(circle, rgba(222,243,253,1) 0%, rgba(57,140,180,1) 100%);
}
.bug{
  background: radial-gradient(circle, rgba(248,213,163,1) 0%, rgba(164,218,115,1) 100%);
}
.normal{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(207, 200, 200) 100%);
}
.poison{
  background: radial-gradient(circle, rgba(192,147,206,1) 0%, rgba(147,0,192,1) 100%);
}
.electric{
  background: radial-gradient(circle, rgba(247,239,200,1) 0%, rgba(251,209,0,1) 100%);
}
.ground{
  background: radial-gradient(circle, rgba(244,231,218,1) 0%, rgba(142,109,76,1) 100%);
}
.fairy{
  background: radial-gradient(circle, rgba(252,234,255,1) 0%, rgba(236,178,245,1) 100%);
}
.fighting{
  background: radial-gradient(circle, rgba(230,224,212,1) 0%, rgba(239,145,145,1) 100%);
}
.psychic{
  background: radial-gradient(circle, rgba(231,196,239,1) 0%, rgba(101,44,102,1) 100%);
}
.rock{
  background: radial-gradient(circle, rgb(247, 247, 247) 0%, rgb(220, 226, 230) 100%);
}
.ghost{
  background: radial-gradient(circle, rgba(185,163,208,1) 0%, rgba(119,82,159,1) 100%);
}
.ice{
  background: radial-gradient(circle, rgba(233,246,244,1) 0%, rgb(56, 207, 218) 100%);
}
.dragon{
  background: radial-gradient(circle, rgba(151,179,230,1) 0%, rgba(0,29,82,1) 100%);
}
.dark{
  background: radial-gradient(circle, rgb(182, 182, 182) 0%, rgb(69, 71, 71) 100%);
}
.steel{
  background: radial-gradient(circle, rgb(238, 241, 243) 0%, rgb(124, 157, 172) 100%);
}
.flying{
  background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(114, 94, 94, 0.678) 100%);
}
.img-pokemon{
  width: 20rem;
  filter: drop-shadow(1rem 1rem  .1rem #00000088);
  transition: 1s;
  
}
@media (max-width:1200px){
  .img-pokemon{
    width: 15rem;
  }
  
}
@media (min-width: 768px) { 
  
}
@media (min-width: 550) { 
  
}



.card:hover .img-pokemon{ 
  background: #ffffff;
  transform: scale(1,1) translateY(-2rem);
  background-size: 110% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
  filter: none;
}
.card:hover .name{
  visibility: visible;
  transition-delay: 0.3s;
}
.card:hover .prof{
  visibility: visible;
  transition-delay: 0.6s;
}

.card:hover .divider{
  visibility: visible;
  transition-delay: 0.3s;
}
.card:hover .bio{
  visibility: visible;
  transition-delay: 0.8s;
}
/* ----------  Pokemon detail  ---------- */
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.img-details{
  width: 45rem;
  height: auto;
  margin-top: -50px;
}
.detail{
  width: 70%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.wyh{
  display: flex;
  width: 50%;
  font-size: 15px;
  justify-content: space-between;
}
.name-pokemon{
  font-family:  'Montserrat';
  font-size: 35px;
}
.name-pokemon:first-letter {

  text-transform: uppercase;

}
.active{
  border: 0;
    background: #fff;
    color: #fff;
    box-shadow: 2px 2px 8px grey;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px;
    cursor: pointer;
    outline: 0;
    transition: .2s;
}
.activebtn{
  border: 0;
    background: #287dfc;
    color: #fff;
    box-shadow: 2px 2px 8px grey;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px;
    cursor: pointer;
    outline: 0;
    transition: .2s;
}

.disabled{
  border: 0;
    background: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 8px grey;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px;
    cursor: pointer;
    outline: 0;
    transition: .2s;
}
.inactive{
  border: 0;
    background: #b8b6b6;
    color: #000000;
    box-shadow: 2px 2px 8px grey;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px;
    cursor: pointer;
    outline: 0;
    transition: .2s;
}
.cont.btn{
  display: flex;
  justify-content: flex-end;
  background-color: #287dfc;
}
.btn{
  margin-left: 50%;
  margin-top: 30px;
  border-radius: 1rem;
  height: 30px;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
  background: white;
}